* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
header {
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: #fff;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home_header_info h1 {
    font-size: 45px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-par h2 {
    color: #fff;
    font-size: 40px;
}

.home_header_info p {
    font-size: 15px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}

.home_header_info a {
    background-color: #fff;
    color: #138808;
    text-decoration: none;
    padding: 17px 45px;
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.home_header_info a:hover {
    color: #fff;
}

.home_header_info a:after {
    content: "Read More";
    background-color: #138808;
    width: 0%;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    right: 0;
}

.home_header_info a:hover:after {
    width: 100%;
}

.toggle-btn {
    display: none;
    color: #fff;
}

section#slides_parent {
    padding-bottom: 150px;
}

.slides {
    display: flex;
    justify-content: center;
}

.slides h4 {
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.slide_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
}

.slide_1:hover {
    min-width: 250px;
}

.slide_1:hover .slide_info {
    transform: rotate(0deg);
    left: 20px;
    bottom: 20px;
    font-size: 22px;
}

.slide_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i2.jpg);
}

.slide_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i3.jpg);
}

.slide_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i4.jpg);
}

.slide_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i5.jpg);
}

.slide_6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i6.jpg);
}

.slide_7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/i7.jpg);
}

.slide_info {
    position: absolute;
    bottom: 51px;
    color: #ffff;
    transform: rotate(-90deg);
    right: 0px;
    font-weight: 700;
    font-size: 12px;
}

section#welcome_Sec {
    text-align: center;
    padding: 80px 0px;
}

section#welcome_Sec h2 {
    color: #343a40;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 12px;
}

section#welcome_Sec p {
    font-size: 17px;
    color: #777;
    font-weight: 400;
    line-height: 30px;
}

